<section *ngIf="post; else elseBlock" class="bg-gray-50 dark:bg-gray-900 m-5">
  <div  class="flex items-center mb-6 text-2xl font-semibold text-gray-900 dark:text-white">
    {{post.title}}
  </div>
  <div  class="flex justify-start space-x-10">
    <p>
      Date: {{post.createdAt | date}}
    </p>
    <p>
      Auteur: {{getAuthorNameByAuthorId(post.authorId)}} {{post.authorId}}
    </p>
    <p>
      Theme: {{post.title}}
    </p>
  </div>
  <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
    {{post.content}}
  </p>
  <hr />
  <div  class="flex items-center mb-6 text-xl font-semibold text-gray-900 dark:text-white">
    Commentaires
  </div>
  <div *ngIf="comments && users; else loading">
    <div *ngFor="let comment of comments">
      <span>{{getAuthorNameByAuthorId(1)}}</span>
      <a href="#" class="block max-w-xl p-3  border border-gray-200 rounded-lg shadow bg-gray-100 mt-1 mb-2">
        <p class="font-normal text-gray-700 dark:text-gray-400">
          {{comment.content}}
        </p>
      </a>
    </div>
  </div>
  <ng-template #loading>
    Loading comments...
  </ng-template>


  <form [formGroup]="commentForm" (ngSubmit)="onSubmitForm()">
    <label for="chat" class="sr-only">Your message</label>
    <div class="flex items-center px-3 py-2 rounded-lg bg-gray-200">
      <textarea formControlName="content" id="chat" rows="1" class="block mx-4 p-2.5 w-full text-sm text-gray-900 bg-white rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-800 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Votre commentaire..."></textarea>
      <button [disabled]="commentForm.invalid" type="submit" class="inline-flex justify-center p-2 text-blue-600 rounded-full cursor-pointer hover:bg-blue-100 dark:text-blue-500 dark:hover:bg-gray-600">
        <svg aria-hidden="true" class="w-6 h-6 rotate-90" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M10.894 2.553a1 1 0 00-1.788 0l-7 14a1 1 0 001.169 1.409l5-1.429A1 1 0 009 15.571V11a1 1 0 112 0v4.571a1 1 0 00.725.962l5 1.428a1 1 0 001.17-1.408l-7-14z"></path></svg>
        <span class="sr-only">Envoyer</span>
      </button>
    </div>
  </form>
</section>

<ng-template #elseBlock>
  <h1>Aucune publication trouve</h1>
</ng-template>

