<section class="bg-gray-50 dark:bg-gray-900 m-5">
  <div  class="flex items-center mb-6 text-2xl font-semibold text-gray-900 dark:text-white">
    Titre de l'article selectionne
  </div>
  <div class="flex justify-start space-x-10">
    <p>
      Date: {{post.createdAt | date}}
    </p>
    <p>
      Auteur: {{post.authorId}}
    </p>
    <p>
      Theme: {{post.title}}
    </p>
  </div>
  <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
    {{post.content}}
  </p>
  <hr />
  <div  class="flex items-center mb-6 text-xl font-semibold text-gray-900 dark:text-white">
    Commentaires
  </div>
  <div>
    <span>Username</span>
    <a href="#" class="block max-w-sm p-3  border border-gray-200 rounded-lg shadow bg-gray-100 mt-1 mb-2">
      <p class="font-normal text-gray-700 dark:text-gray-400">Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order.</p>
    </a>
  </div>

  <form>
    <label for="chat" class="sr-only">Your message</label>
    <div class="flex items-center px-3 py-2 rounded-lg bg-gray-200">
      <textarea id="chat" rows="1" class="block mx-4 p-2.5 w-full text-sm text-gray-900 bg-white rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-800 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Your message..."></textarea>
      <button type="submit" class="inline-flex justify-center p-2 text-blue-600 rounded-full cursor-pointer hover:bg-blue-100 dark:text-blue-500 dark:hover:bg-gray-600">
        <svg aria-hidden="true" class="w-6 h-6 rotate-90" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M10.894 2.553a1 1 0 00-1.788 0l-7 14a1 1 0 001.169 1.409l5-1.429A1 1 0 009 15.571V11a1 1 0 112 0v4.571a1 1 0 00.725.962l5 1.428a1 1 0 001.17-1.408l-7-14z"></path></svg>
        <span class="sr-only">Send message</span>
      </button>
    </div>
  </form>

</section>
